  <ion-header>
<ion-toolbar>
    <ion-title>5 Quality control checklist</ion-title>

   <ion-buttons slot="start">
     <ion-back-button></ion-back-button>
   </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>

<ion-checkbox></ion-checkbox> <ion-label>Bottom visibilty</ion-label><p>
<ion-checkbox></ion-checkbox> <ion-label>Reached end of tape/rope</ion-label><p>

1.6 Additional observations
photo of pH paper and colour scale
</ion-card>

 <ion-button expand="block" routerLink="/measure/additionalobservations" routerDirection="forward">
Additional observations
 </ion-button>

</ion-content>
