<ion-header>
  <ion-toolbar>
    <ion-title>Start measuring</ion-title>
  
   <ion-buttons slot="start">
     <ion-back-button></ion-back-button>
   </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>

1.1 distance to water (“record the distance from your hand to the water surface”)
1.2. Secchi disk re-appearing distance (“lower the disk until it disappears. Raise the disk and record the distance at which it re-appears”)
-> App calculates secchi depth (Zsd = 1.2 – 1.1)
1.3. Colour at half depth (opt. photo) (“optional: take a photo of the disk at half the secchi depth: X cm”) where X = distance to water (1.1) + ½ Zsd, so: 1.1 + 0.5(1.2.-1.1)
1.4 Colour @surface (opt. photo without disk)
1.5 Quality control checklist:  
[x] bottom vis
[x] reached end of tape/rope
[x] …
1.6 Additional observations
photo of pH paper and colour scale
… 
1.7 Save observation

 <ion-button expand="block" routerLink="/measure/distancetowater" routerDirection="forward">
  Step 1: Measure distance to water
 </ion-button>


</ion-content>
