<ion-header>
  <ion-toolbar>
    <ion-title>New observation</ion-title>
  
   <ion-buttons slot="start">
     <ion-back-button></ion-back-button>
   </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>
<ion-card>
<p>Safety first: work from a stable platform, wear a life vest and make sure someone knows where you are. Only upload photos if you can do so without risking your safety and your phone.</p><p>
Find a spot where you can look into the water, away from sun reflections. Record Secchi depth, water colour and pH without sunglasses.
If you have pH paper, clip a new section into the provided clip and attach it to the disk.</p>
</ion-card>
 <ion-button expand="block" routerLink="/measure/distancetowater" routerDirection="forward">
  Step 1: Measure distance to water
 </ion-button>


</ion-content>
