  <ion-header>
<ion-toolbar>
    <ion-title>4 Colour at surface</ion-title>

   <ion-buttons slot="start">
     <ion-back-button></ion-back-button>
   </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

Surface color: take a picture of the water surface (without the disk)




 <ion-label>Colour at surface(1-21):</ion-label>
  <ion-item>

<ion-input [(ngModel)]="colouratsurface" type="number" inputmode="numeric" value="01"></ion-input></ion-item>




  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

<img [src]="this.PictureTaken"/>


 <ion-button expand="block"  (click)="validate()" routerLink="/measure/qccheck" routerDirection="forward">
 Step 5: QC Checklist
 </ion-button>

</ion-content>
