<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
My Measurements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let marker of markers">
    <ion-item-group>
      <ion-item-divider>
        <ion-label><ion-icon name="calendar-outline"></ion-icon>{{ marker.createdAt | date: 'medium' }}</ion-label>
        <ion-buttons slot="end">            <ion-button *ngIf="marker.get('latitude') && marker.get ('longitude')" size="small" (click)="openMapModal(marker.get ('latitude'), marker.get ('longitude'))"><ion-icon name="map-outline"></ion-icon></ion-button>
        </ion-buttons>
      </ion-item-divider>
    </ion-item-group>
    <ion-item lines="full">
      <ion-avatar slot="start">
        <img *ngIf="marker.get('colourathalfdepthimage')" [src]="marker.get('colourathalfdepthimage').url()" alt="Image">
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <ion-row>
          <ion-col size="9">
            <ion-label><ion-icon name="water-outline"></ion-icon>Secchi depth: <strong>{{ marker.get('secchi_depth') }}</strong></ion-label>
          </ion-col>
          <ion-col>
            Color
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="9">
            <ion-label *ngIf="marker.latitude && marker.longitude">
              <ion-icon name="location-outline"></ion-icon>Lat: {{ marker.get('latitude').toFixed(2) }}, Lon: {{ marker.get('longitude').toFixed(2) }}
            </ion-label>
          </ion-col>
          <ion-col [ngStyle]="{'background-color': getForelUleColor(marker.get('colourathalfdepth'))}">

          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>


