.thumbnail {
    width: 100px; // Adjust width as needed
    height: 100px; // Adjust height as needed
    object-fit: cover;
    border-radius: 4px; // Adjust for desired corner roundness
  }


  .image-container {
    text-align: center; /* Center the image and caption */
  }
  
  .thumbnail {
    max-width: 100%; /* Ensure the image is responsive and fits its container */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 8px; /* Space between image and caption */
  }
  
  .image-caption {
    font-size: smaller; /* Adjust size as needed */
  }