<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My measurements</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">User Measurements</ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-item *ngFor="let measurement of userMeasurements">
    <ion-label>
      Date: {{measurement.get('datetimerecorded') | date:'medium'}}
    </ion-label>

    <ion-label>
      <a [href]="'https://www.google.com/maps/search/?api=1&query=' + measurement.get('latitude') + ',' + measurement.get('longitude')" target="_blank">
        Latitude: {{measurement.get('latitude') | number:'1.4-4'}}
      </a>
    </ion-label>
    <ion-label>
      <a [href]="'https://www.google.com/maps/search/?api=1&query=' + measurement.get('latitude') + ',' + measurement.get('longitude')" target="_blank">
        Longitude: {{measurement.get('longitude') | number:'1.4-4'}}
      </a>
    </ion-label>
    
    <ion-label>
      Secchi Depth: {{measurement.get('secchi_depth')}}
    </ion-label>


    <ion-label>
      Forel-Ule Color: {{measurement.get('colourathalfdepth')}} <span [style.background-color]="getColorForValue(measurement.get('colourathalfdepth'))" style="display:inline-block; width:20px; height:20px; vertical-align:middle;"></span>
    </ion-label>

  </ion-item>



</ion-content>
