<ion-header>
  <ion-toolbar>
    <ion-title>2 Reappear</ion-title>

   <ion-buttons slot="start">
     <ion-back-button></ion-back-button>
   </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
Lower the disk until it disappears. Raise the disk and record the distance at which it re-appears.
<ion-content><p>

<ion-item>
  <ion-label>Distance:</ion-label>

<!-- Number type input -->
<ion-input [(ngModel)]="reappear" type="number" inputmode="numeric" value="00"></ion-input></ion-item>

 <ion-button expand="block" (click)="validate()" routerLink="/measure/colourathalfdepth" routerDirection="forward">
 Step 3: Colour at half depth
 </ion-button>

</ion-content>
