<ion-header>
  <ion-toolbar>
    <ion-title>Disk Reappearance</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title><b>Instructions</b></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label class="multi-line-label">Wind the spindle down until the Secchi disk disappears. 
          <br>Wind it up again until it re-appears.
          <br>Lower the disk straight down; adjust weight if needed.
          <br>Record the length of the tape; <br>distance to water surface is auto-subtracted.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-img slot="start" src="assets/img/reappearance.png"></ion-img>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title><b>Measurements</b></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Distance to re-appearance:</ion-label>
        <ion-input  [(ngModel)]="reappear" type="number" inputmode="numeric" placeholder="distance"></ion-input>
        <ion-label>cm</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="validate()" routerLink="/measure/colourathalfdepth" routerDirection="forward">
    Go to Step 3
  </ion-button>

</ion-content>
