<ion-header>
  <ion-toolbar>
    <ion-title>1 Distance to water</ion-title>

   <ion-buttons slot="start">
     <ion-back-button></ion-back-button>
   </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>


<ion-card>

  <p>
Wind the disk down to the water surface and record the distance from the handheld device to the water surface. Keep your arm at the same distance from the water for the remaining depth measurements.
 
</p>
</ion-card>
<ion-item>
  <ion-label>Distance to water in cm:</ion-label>

<!-- Number type input -->
<ion-input [(ngModel)]="distancetowater" type="number" inputmode="numeric" value="00"></ion-input></ion-item>



 <ion-button expand="block"  (click)="validate()" routerLink="/measure/reappear" routerDirection="forward">
 Step 2: Secchi disk re-appearing distance
 </ion-button>

</ion-content>
