<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>

   <ion-buttons slot="start">
     <ion-back-button></ion-back-button>
   </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>

<img src="assets/img/monocle_logo.png"></ion-item>
<ion-item>
Coordination: PML<br>
App development: DDQ B.V.<br>
Hardware development: Brewtek<br>
</ion-item>
<ion-item>

<ion-card>
<img src="assets/img/eu_logo.png"><br>

This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 776480

</ion-card>
</ion-item>
</ion-content>
