  <ion-header>
<ion-toolbar>
    <ion-title>6 Additional observations</ion-title>


   <ion-buttons slot="start">
     <ion-back-button></ion-back-button>
   </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

Additional observations: photo of pH paper and colour scale

<br>
<ion-item>
<ion-card>
Items stored (debug): <br>

Latitude: {{this.latitude}}<br>
Longitude: {{this.longitude}}<br>
Distancetowater: {{this.distancetowater}}<br>
Reappear: {{this.reappear}}<br>
Colourathalfdepth: {{this.colourathalfdepth}}<br>
Colouratsurface: {{this.colouratsurface}}<br>
Datetime: {{this.datetime}}<br>

</ion-card>
</ion-item>





 <ion-button expand="block" (click)="validate()" routerLink="/home" routerDirection="root">
 	Save and finish
 </ion-button>

</ion-content>
