<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mini Secchi App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mini Secchi App</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content padding>


<ion-item>
<img src="assets/img/secchidisk.png"><br>
</ion-item>

 <ion-button shape="round"  expand="block" routerLink="/measure"  strong="true" routerDirection="forward" color="white" style="background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(86,143,150) 25%,   rgba(123,166,84) 35%, rgba(149,182,69) 50%, rgba(173,181,95) 70%, rgba(161,77,4) 100%)" >
   New observation
 </ion-button>

 <ion-button shape="round" color="white" expand="block" routerLink="/instructions"  strong="true" routerDirection="forward" color="white" style="background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(86,143,150) 25%,   rgba(123,166,84) 35%, rgba(149,182,69) 50%, rgba(173,181,95) 70%, rgba(161,77,4) 100%)" >
   Instructions
 </ion-button>



 <ion-button shape="round" color="success"  expand="block" routerLink="/moreinfo" routerDirection="forward" strong="true" routerDirection="forward" color="white" style="background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(86,143,150) 25%,   rgba(123,166,84) 35%, rgba(149,182,69) 50%, rgba(173,181,95) 70%, rgba(161,77,4) 100%)"


 >
   About
 </ion-button>




        <ion-item><ion-label>Mini Secchi app version {{ VersionCode }},{{ VersionNumber }}</ion-label></ion-item>






</ion-content>
