<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content padding>

 <ion-button expand="block" routerLink="/measure" routerDirection="forward">
   Measure
 </ion-button>

 <ion-button expand="block" routerLink="/instructions" routerDirection="forward">
   Instructions
 </ion-button>


 <ion-button expand="block" routerLink="/moreinfo" routerDirection="forward">
   More info
 </ion-button>


 <ion-button expand="block" routerLink="/inspectdata" routerDirection="forward">
 Inspect data
 </ion-button>


 <ion-button expand="block" routerLink="/userprofile" routerDirection="forward">
User profile
 </ion-button>


</ion-content>
  <div id="container">

<p>


</p>

  </div>
</ion-content>
