  <ion-header>
<ion-toolbar>
    <ion-title>3 Colour at half depth</ion-title>

   <ion-buttons slot="start">
     <ion-back-button></ion-back-button>
   </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

	-> App calculates secchi depth (Zsd = 1.2 – 1.1)

.olour at half depth (opt. photo) (“optional: take a photo of the disk at half the secchi depth: X cm”) where X = distance to water (1.1) + ½ Zsd, so: 1.1 + 0.5(1.2.-1.1)


 <ion-button expand="block" routerLink="/measure/colouratsurface" routerDirection="forward">
 Step 4: Colour at surface
 </ion-button>

</ion-content>
