<ion-header>
  <ion-toolbar>
    <ion-title>Colour at Half Depth</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title><b>Instructions</b></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label class="multi-line-label">The Secchi depth is: {{secchi_depth}} cm
          Raise the disk to half the Secchi disk depth: {{this.halfdepth}} cm
          Record the Forel-Ule colour of the disk at this depth.
          If safe, take a photo of the disk in the water.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-img slot="start" src="assets/img/halfdepth.png"></ion-img>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title><b>Forel-Ule Colour</b></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>  <ion-label class="multi-line-label">The colour of the disk in the water is most similar to Forel-Ule colour:</ion-label>
        <ion-input slot="end" [(ngModel)]="colourathalfdepth" type="number" inputmode="numeric" placeholder="number (1-21)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>To add a photo click here:</ion-label>
        <ion-button slot="end" (click)="takePicture()">
          <ion-icon name="camera"></ion-icon>
        </ion-button>
        <ion-img [src]="this.PictureTaken"></ion-img>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="validate()" routerLink="/measure/colouratsurface" routerDirection="forward">
    Go to Step 4
  </ion-button>

</ion-content>
