  <ion-header>
<ion-toolbar>
    <ion-title>3 Colour at half depth</ion-title>

   <ion-buttons slot="start">
     <ion-back-button></ion-back-button>
   </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
<!--
	-> App calculates secchi depth (Zsd = 1.2 – 1.1)

.olour at half depth (opt. photo) (“optional: take a photo of the disk at half the secchi depth: X cm”) where X = distance to water (1.1) + ½ Zsd, so: 1.1 + 0.5(1.2.-1.1)

-->
  <ion-label  >Secchi depth: {{secchi_depth}}</ion-label> <br>


  <ion-label  >Take a photo of the disk at half the secchi depth: {{colourathalfdepth}} cm</ion-label>

   <ion-grid>
    <ion-row>
    <ion-col size="6" 
      *ngFor="let photo of photoService.photos; index as position">
        <ion-img [src]="photo.webviewPath"></ion-img>
        {{photo.webviewPath}}
    </ion-col>
    </ion-row>
  </ion-grid>

  <!-- ion-fab markup  -->


  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  


 <ion-button expand="block" routerLink="/measure/colouratsurface" routerDirection="forward">
 Step 4: Colour at surface
 </ion-button>

</ion-content>	
